html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #4d546b;
    color: seashell;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title-1 {
    font-size: 4rem;
    margin: 4rem;
    text-transform: uppercase;
    text-shadow: -2px 8px 7px #121e62;
    text-align: center;
}

.title-2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    text-shadow: -2px 8px 7px #121e62;
}

.title-3 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: -2px 8px 7px #121e62;
    margin-bottom: 6rem;
}

.button-container {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 8rem;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.box img {
    height: 200px;
    width: 200px;
    border: 3px solid #0c2062;
    border-radius: 10px;
}

.box button {
    margin-top: .5rem;
    width: 12.875rem;
    height: 2.1875rem;
    letter-spacing: .3rem;
    cursor: pointer;
    border: 2px solid #121e62;
    z-index: 1;
    overflow: hidden;
    background: #121e62;
    color: seashell;
    position: relative;
}

.box button:hover {
    color: #121e62;
}

.box button::after {
    content: "";
    background: seashell;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: all .35s;
}

.box button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .35s;
}

.box button:active {
    font-size: 1.5rem;
    transition: font-size .1s;
}

.explain {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: -2px 8px 7px #121e62;
}

.score {
    display: flex;
    flex: 1;
    margin-top: 3rem;
    gap: 18rem;
    flex-wrap: wrap;
    justify-content: center;
}

.player, .computer {
    font-size: 2rem;
    text-align: center;
    text-shadow: -2px 8px 7px #121e62;
}

@media (max-width: 500px) {
    .title-1 {
        font-size: 2.5rem;
        margin: 3rem;
    }

    .title-2 {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .title-3 {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .button-container {
        gap: 1.5rem;
    }

    .box img {
        height: 100px;
        width: 100px;
    }

    .box button {
        width: 5rem;
        height: 1.5rem;
        letter-spacing: 1.3px;
        font-size: .615rem;
    }

    .box button:active {
        font-size: .7rem;
    }

    .explain {
        font-size: 1.2rem;
    }

    .score {
        gap: 2rem;
    }

    .player, .computer {
        font-size: 1rem;
    }
}

@media (min-width: 501px) and (max-width: 890px) {
    .title-1 {
        font-size: 3rem;
    }

    .title-2 {
        font-size: 2rem;
    }

    .title-3 {
        font-size: 1.3rem;
    }

    .button-container {
        gap: 2.4rem;
    }

    .box img {
        height: 130px;
        width: 130px;
    }

    .box button {
        width: 7rem;
        height: 2.5rem;
        letter-spacing: 2.5px;
        font-size: .8rem;
    }

    .box button:active {
        font-size: .95rem;
    }

    .explain {
        font-size: 1.7rem;
    }

    .score {
        gap: 2rem;
    }

    .player,
    .computer {
        font-size: 1.5rem;
    }
}